<div id="five-thirty">
	<p>Issued at {{vm.forecast.IssuedAt}}</p>
	
	
	
	<p>{{vm.forecast.timePeriod}}</p>	
	<p>Meteorologist: {{vm.forecast.forecaster}}</p>
    <p>For The Period {{vm.forecast.forecastPeriod}}</p> 

   <span ng-if="vm.forecast.textArea1"> 
        <p>{{vm.forecast.forecastArea1}}</p>
		<p>{{vm.forecast.textArea1}}</p>  
	</span>
    <span ng-if="vm.forecast.textArea2"> 
        <p>{{vm.forecast.forecastArea2}}</p>
		<p>{{vm.forecast.textArea2}}</p>  
	</span>
	<span ng-if="vm.forecast.textArea3"> 
		<p>{{vm.forecast.textArea3}}</p> 
        <p>{{vm.forecast.forecastArea3}}</p> 
	</span>
    

    <p>Piarco Max Temp: {{vm.forecast.PiarcoFcstMxTemp}}&deg;</p>
    <p>Crown Point Max Temp: {{vm.forecast.CrownFcstMxTemp}}&deg;</p>
    <p>Piarco Min Temp: {{vm.forecast.PiarcoMnTemp}}&deg;</p>
    <p>Crown Point Min Temp: {{vm.forecast.CrownMnTemp}}&deg;</p>
    <!-- <p>Piarco Heat Index: {{vm.forecast.PiarcoheatIndex}}&deg;</p>
    <p>Crown Point Heat Index: {{vm.forecast.CPointheatIndex}}&deg;</p> -->
    <!-- <p>Rainfall (mm): {{vm.forecast.probrainfall}}</p> -->
    <!-- <p>Cumulative for Piarco: {{vm.forecast.cumlativeRain}}</p> -->

    <p>Seas: {{vm.forecast.seas}}</p>
    <p>Waves: {{vm.forecast.waves1}} {{vm.forecast.waves2}}</p>
    <span ng-if="vm.forecast.addMarine">
        <p>Waves: {{vm.forecast.addMarine}}</p>
    </span>

    <span ng-if="vm.forecast.precipitation"> 
    	<p>Precipitation: {{vm.forecast.precipitation}}</p>
    </span>

    <span ng-if="vm.forecast.probrainfall"> 
    	<p>Probable Rainfall: {{vm.forecast.probrainfall}}</p>
    </span>

    <span ng-if="vm.forecast.uvrate"> 
    	<p>UV Rate: {{vm.forecast.uvrate}}</p>
    </span>

   
    
    
    <!-- <p>Sunrise: {{vm.forecast.sunrise}} Sunset: {{vm.forecast.sunset}}</p> -->

    <!-- <h4>Tides</h4>
    <p>Port of Spain High: {{vm.forecast.trinAmHigh}} {{vm.forecast.trinPmHigh}} Low: {{vm.forecast.trinAmLow}} {{vm.forecast.trinPmLow}}</p>
    <p>Crown Point High: {{vm.forecast.tobAmHigh}} {{vm.forecast.tobPmHigh}} Low: {{vm.forecast.tobAmLow}} {{vm.forecast.tobPmLow}}</p> -->
</div>
