<ion-view view-title="Agriculture" ng-controller="ServicesCtrl as ac" id="agri">
    <ion-nav-bar class="bar no-border blue">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon" ></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content scroll="true" class="has-header climate-container text-left">
        <ion-slide-box on-slide-changed="slideHasChanged_c($index)" ng-init="disableSwipe()">
            <ion-slide ng-init="ac.agrotrini()">
                <div class="card wide">
                    <div class="item item-divider text-center">                       
                        <p class="dark">Trinidad Agromet for</p>
                        <p class="dark">{{ac.atrin.Month}} {{ac.atrin.Day}}</p>                        
                    </div>                    
                </div>


                <div class="card wide ">
                    <div class="item item-divider text-center headings">
                        <i class="ion-ios-rainy-outline dark"></i>                       
                        <p class="dark">Rainfall Forecast</p>                                               
                    </div>                    
                </div>
                <div class="card wide" ng-repeat="item in ac.area">                  
                    <div class="item item-divider">                                                
                        <p class="dark">{{item}}</p>
                    </div>
                    <div class="item item-text-wrap">
                        <span class="em-txt"><p>{{ac.rain[$index]}}</p></span>
                    </div>                   
                </div>

                <div class="card wide ">
                    <div class="item item-divider text-center headings">  
                        <i class="ion-thermometer dark"></i>
                        <p class="dark">Temperature Forecast</p>                                               
                    </div>                    
                </div>

                <div class="card wide" ng-repeat="item in ac.temp">                   
                    <div class="item item-text-wrap">
                        <span class="em-txt"><p>{{ac.temp}}</p></span>
                    </div>                   
                </div>

                <div class="card wide ">
                    <div class="item item-divider text-center headings">                       
                        <p class="dark">Summary</p>                                               
                    </div>                    
                </div>

                <div class="card wide">                   
                    <div class="item item-text-wrap">
                        <span class="em-txt"><p>{{ac.sum.sum}}</p></span>
                    </div>                   
                </div>

                <div class="card wide ">
                    <div class="item item-divider text-center headings">                       
                        <p class="dark">Preliminary Rainfall and Temperature Outlook</p>                                               
                    </div>                    
                </div>

                <div class="card wide" style="margin-bottom: 40px;">                   
                    <div class="item item-text-wrap">
                        <span class="em-txt"><p>{{ac.sum.prt}}</p></span>
                    </div>                   
                </div>



            </ion-slide >


            <ion-slide ng-init="ac.agrotbg()">
                <div class="card wide">
                    <div class="item item-divider text-center">                       
                        <p class="dark">Tobago Agromet for</p>
                        <p class="dark">{{ac.atbg.Month}} {{ac.atbg.Day}}</p>                        
                    </div>                    
                </div>


                <div class="card wide ">
                    <div class="item item-divider text-center headings">  
                        <i class="ion-ios-rainy-outline dark"></i>                     
                        <p class="dark">Rainfall Forecast</p>                                               
                    </div>                    
                </div>
                <div class="card wide" ng-repeat="item in ac.areatbg">                  
                    <div class="item item-divider">                                              
                        <p class="dark">{{item}}</p>
                    </div>
                    <div class="item item-text-wrap">
                        <span class="em-txt"><p>{{ac.raintbg[$index]}}</p></span>
                    </div>                   
                </div>

                <div class="card wide ">
                    <div class="item item-divider text-center headings"> 
                      <i class="ion-thermometer dark"></i>                      
                      <p class="dark">Temperature Forecast</p>                                               
                    </div>                    
                </div>

                <div class="card wide" ng-repeat="item in ac.temp">                   
                    <div class="item item-text-wrap">
                        <span class="em-txt"><p>{{ac.temptbg}}</p></span>
                    </div>                   
                </div>

                <div class="card wide ">
                    <div class="item item-divider text-center headings">                       
                        <p class="dark">Summary</p>                                               
                    </div>                    
                </div>

                <div class="card wide">                   
                    <div class="item item-text-wrap">
                        <span class="em-txt"><p>{{ac.sumtbg.sum}}</p></span>
                    </div>                   
                </div>

                <div class="card wide ">
                    <div class="item item-divider text-center headings">                       
                        <p class="dark">Preliminary Rainfall and Temperature Outlook</p>                                               
                    </div>                    
                </div>

                <div class="card wide" style="margin-bottom: 40px;">                   
                    <div class="item item-text-wrap">
                        <span class="em-txt"><p>{{ac.sumtbg.prt}}</p></span>
                    </div>                   
                </div>


          
            </ion-slide>          
        </ion-slide-box>
    </ion-content>
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
        <ion-tab title="Trinidad Agro" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" on-select="slide(0)"></ion-tab>
        <ion-tab title="Tobago Agro" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" on-select="slide(1)"></ion-tab>       
    </ion-tabs>
    
</ion-view>