<ion-view view-title="Climate" ng-controller="ServicesCtrl as sc">
    <ion-nav-bar class="bar no-border blue">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
        <!-- <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon" ></button>
        </ion-nav-buttons>   -->
    </ion-nav-bar>

    <ion-content scroll="true" class="has-header climate-container text-left">
        <ion-slide-box on-slide-changed="slideHasChanged_c($index)" ng-init="disableSwipe()">
            <ion-slide ng-init="sc.get_elninos()">
                <div class="container">
                    <h4>El Nino Update {{sc.el_infos.month}} {{sc.el_infos.year}}</h4>
                    <p>Issued: {{sc.el_infos.issuedAt}}</p>
                </div>
                <div class="card wide">
                    <div class="item item-divider" >
                        <p class="darkk">{{sc.el_infos.head1}}</p>
                    </div>
                    <div class="item item-text-wrap">
                        <span class="em-txt"><p>{{sc.el_infos.para1}}</p></span>
                        <span class="em-txt"><p>{{sc.el_infos.para2}}</p></span>
                        <span class="em-txt"><p>{{sc.el_infos.para3}}</p></span>
                        <span class="em-txt"><p>{{sc.el_infos.para4}}</p></span>
                    </div>
                    <!-- <br><br><br> -->
                </div>
                <div class="card wide">
                    <div class="item item-divider" >
                        <p class="darkk">{{sc.el_infos.head2}}</p>
                    </div>
                    <div class="item item-text-wrap">
                        <span class="em-txt"><p>{{sc.el_infos.para12}}</p></span>
                        <span class="em-txt"><p>{{sc.el_infos.para22}}</p></span>
                        <span class="em-txt"><p>{{sc.el_infos.para32}}</p></span>
                        <span class="em-txt"><p>{{sc.el_infos.para44}}</p></span>
                    </div>
                    <!-- <br><br><br> -->
                </div>
                <div class="card wide" ng-if="sc.el_infos.head3">
                    <div class="item item-divider" >
                        <p class="darkk">{{sc.el_infos.head3}}</p>
                    </div>
                    <div class="item item-text-wrap">
                        <span class="em-txt"><p>{{sc.el_infos.para13}}</p></span>
                        <span class="em-txt"><p>{{sc.el_infos.para23}}</p></span>
                        <span class="em-txt"><p>{{sc.el_infos.para33}}</p></span>
                        <span class="em-txt"><p>{{sc.el_infos.para43}}</p></span>
                    </div>
                    <!-- <br><br><br> -->
                </div>
                <div class="container">
                    <div class="image" style="background-image: url(' {{image1}} '); height: 200px; margin-top: 0px; "></div>
                    <div class="image" style="background-image: url(' {{image2}} '); height: 200px; margin-top: 0px; "></div>
                    <div class="image" style="background-image: url(' {{image3}} '); height: 200px; margin-top: 0px; "></div>
                </div>
            </ion-slide>

            <!-- Rainfall and Temp -->
            <ion-slide ng-init="sc.get_rainandtemp()">
                <div class="container">
                    <h4>{{sc.rt.textArea10}}</h4>
                </div>
                <div class="card wide">
                    <div class="item item-divider">
                        <p class="darkk">{{sc.rt.head1}}</p>
                    </div>
                    <div class="item item-text-wrap" style="margin-bottom: 40px;">
                        <p ng-repeat="item in sc.key_list">{{item}}<br><br></p>
                    </div>
                </div>
                <div class="card wide">
                    <div class="item item-divider">
                        <p class="darkk">{{sc.rt.head2}}</p>
                    </div>
                    <div class="item item-text-wrap" style="margin-bottom: 40px;">
                        <p ng-repeat="item in sc.ir_list">{{item}}<br><br></p>
                    </div>
                    <!-- <br><br><br> -->
                </div>
                <div class="container">
                    <div class="image" style="background-image: url(' {{image4}} '); height: 200px; margin-top: 0px; "></div>
                    <div class="image" style="background-image: url(' {{image5}} '); height: 200px; margin-top: 0px; "></div>
                </div>
            </ion-slide>

            <ion-slide ng-init="sc.get_drywet()">
                <div class="container">
                    <h4>Trinidad and Tobago Dry Spell Outlook by End of {{sc.dw.month}}{{sc.dw.year}}</h4>
                    <p>{{sc.dw.textArea10}}</p>
                </div>
                <div class="card wide">
                    <div class="item item-divider">
                        <p class="darkk wrap">{{sc.dw.head1}}</p>
                    </div>
                    <div class="item item-text-wrap">
                        <span class="em-txt"><p>{{sc.dw.para1}}</p></span>
                    </div>
                </div>
                <div class="card wide">
                    <div class="item item-divider">
                        <p class="darkk wrap">{{sc.dw.head2}}</p>
                    </div>
                    <div class="item item-text-wrap">
                        <span class="em-txt"><p>{{sc.dw.para2}}</p></span>
                    </div>
                </div>
                <div class="card wide">
                    <div class="item item-divider">
                        <p class="darkk wrap">{{sc.dw.head3}}</p>
                    </div>
                    <div class="item item-text-wrap">
                        <span class="em-txt"><p>{{sc.dw.para3}}</p></span>
                    </div>
                    <div class="container">
                        <div class="image" style="background-image: url(' {{image6}} '); height: 200px; margin-top: 0px; "></div>
                    </div>
                    <br><br><br>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
        <ion-tab title="El Nino Update" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" on-select="slide(0)"></ion-tab>
        <ion-tab title="Rainfall &middot; Temp" icon-off="icon ion-ios-rainy-outline" icon-on="icon ion-ios-rainy" on-select="slide(1)"></ion-tab>
        <ion-tab title="Dry/Wet Outlook" icon-off="icon ion-ios-cloud-outline" icon-on="icon ion-ios-cloud" on-select="slide(2)"></ion-tab>
    </ion-tabs>
</ion-view>
