<ion-view view-title="Tourism" ng-controller="ServicesCtrl as tc">
    <ion-nav-bar class="bar no-border">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon" ></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button ng-click="vm.refresh_all_a()" class="button button-icon"><i class="settings-icon ion-ios-reload"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <!-- <div class="bar bar-subheader">
        <p class="title">{{sub_title}}</p>
    </div>
 -->
<!-- 	<ion-content class="has-header"> -->
		<!-- <h4>Bullettins</h4> -->

    <ion-content class="has-header container">
        <!-- <sup>Description of warnings</sup> -->
        <ion-slide-box on-slide-changed="slideHasChanged($index)"  ng-init="tc.update_slide(0)">
            <ion-slide style="height: 400px;">
                <div class="box">
                    <h1 class="text-center">Today's Forecast</h1>

                    <!-- <div ng-repeat="item in vm.bulletins">
                        <div class="item" ng-click="openModalFunction()">
                            <h1></h1>
                            <h2>{{item.bulletinType}}</h2>
                            <p>{{item.currdate}}, {{item.issuedAt}}</p>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item" href="#">
                              <i class="icon ion-thumbsup"></i>
                              Like
                            </a>
                            <a class="tab-item" href="#">
                              <i class="icon ion-chatbox"></i>
                              Comment
                            </a>
                            <a class="tab-item" href="#">
                              <i class="icon ion-share"></i>
                              Share
                            </a>
                        </div>
                    </div> -->
                    <!-- <p>Box 1</p>
                    <p>{{vm.bulletins[0].bulletinType}}</p> -->
                </div>
            </ion-slide >
            <ion-slide style="height: 400px;">
                <div class="box">
                    <h1 class="text-center">Tomorrow's Forecast</h1>
                    <!-- <div ng-repeat="item in vm.severe">
                        <div class="item" ng-click="openModalFunction()">
                            <h2>{{item.bulletinType}}</h2>
                            <p>{{item.currdate}}, {{item.issuedAt}}</p>
                        </div> -->
                        <!-- <div class="item">
                            <sup>{{item.currdate}}, {{item.issuedAt}}</sup>
                        </div> -->
                        <!-- <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item" href="#">
                              <i class="icon ion-thumbsup"></i>
                              Like
                            </a>
                            <a class="tab-item" href="#">
                              <i class="icon ion-chatbox"></i>
                              Comment
                            </a>
                            <a class="tab-item" href="#">
                              <i class="icon ion-share"></i>
                              Share
                            </a>
                        </div>
                    </div> -->
                </div>
            </ion-slide>
            <ion-slide style="height: 400px;">
                <div class="box">
                    <h1 class="text-center">Next Day's Forecast</h1>
                    <!-- <div ng-repeat="item in vm.flood" >
                        <div class="item" ng-click="openModalFunction()">
                            <h2>{{item.bulletinType}}</h2>
                            <p>{{item.currdate}}, {{item.issuedAt}}</p>
                        </div> -->
                        <!-- <div class="item">
                            <sup>{{item.currdate}}, {{item.issuedAt}}</sup>
                        </div> -->
                        <!-- <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item" href="#">
                              <i class="icon ion-thumbsup"></i>
                              Like
                            </a>
                            <a class="tab-item" href="#">
                              <i class="icon ion-chatbox"></i>
                              Comment
                            </a>
                            <a class="tab-item" href="#">
                              <i class="icon ion-share"></i>
                              Share
                            </a>
                        </div>
                    </div> -->
                </div>
            </ion-slide>
          
        </ion-slide-box>
    </ion-content>
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
        <ion-tab title="Today" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" on-select="slide(0)"></ion-tab>
        <ion-tab title="Tomorrow" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" on-select="slide(1)"></ion-tab>
        <ion-tab title="Next Day" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" on-select="slide(2)"></ion-tab>
    </ion-tabs>
</ion-view>