<ion-view view-title="Warnings">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon" ></button>
        </ion-nav-buttons>
    </ion-nav-bar>

	<ion-content class="has-header container" ng-controller="WarningsCtrl as vm">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide style="height: 400px;">
                <div class="box" ng-init="vm.getWarn()">
                    <h1 class="text-center">Warnings</h1>
                    <div ng-repeat="item in vm.warnings">
                        <div class="item">                            
                            <h2>{{item.warnType}}</h2>
                            <p>{{item.currdate}}, {{item.issuedAt}}</p>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item" href="#">
                              <i class="icon ion-thumbsup"></i>
                              Like
                            </a>
                            <a class="tab-item" href="#">
                              <i class="icon ion-chatbox"></i>
                              Comment
                            </a>
                            <a class="tab-item" href="#">
                              <i class="icon ion-share"></i>
                              Share
                            </a>
                        </div>
                    </div>                    
                </div>
            </ion-slide>
            <ion-slide style="height: 400px;">
                <div class="box" ng-init="vm.getWatch()">
                    <h1 class="text-center">Watches</h1>
                    <div ng-repeat="item in vm.watches">
                        <div class="item">                            
                            <h2>{{item.warnType}}</h2>
                            <p>{{item.currdate}}, {{item.issuedAt}}</p>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item" href="#">
                              <i class="icon ion-thumbsup"></i>
                              Like
                            </a>
                            <a class="tab-item" href="#">
                              <i class="icon ion-chatbox"></i>
                              Comment
                            </a>
                            <a class="tab-item" href="#">
                              <i class="icon ion-share"></i>
                              Share
                            </a>
                        </div>
                    </div>    
                </div>
            </ion-slide>
            <!-- <ion-slide style="height: 400px;">
                <div class="box">
                    <p>Box 3</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <p>Box 4</p>
                </div>
            </ion-slide> -->
        </ion-slide-box>
	</ion-content>
</ion-view>
