<div id="home_menu-modal" class="modal partial" ng-controller="HomeCtrl">
  <ion-content has-header="false" scroll="false" id="ms_m">
  <div class="row text-center" id="of1" ng-click="closeModal()">
    <div class="col">
      <div id="met-icon"></div>
      <span>met services</span>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="col col-50 mia"><a ui-sref="app.bullettins" ng-click="closeModal()">Aviation</a></div>
      <div class="col col-50 mia"><a ng-click="closeModal()">tourism</a></div>
    </div>
    <div class="row">
      <div class="col col-50 mia"><a ng-click="closeModal()">Agriculture</a></div>
      <div class="col col-50 mia"><a ng-click="closeModal()">Climate</a></div>
    </div>
    <div class="row">
      <div class="col col-50 mia"><a ng-click="closeModal()">Marine</a></div>
      <div class="col col-50 mia" ng-click="uv_modalOpen()"><a  >UV Status</a></div>
    </div></div>
    </ion-content>
  </div>
