<ion-pane class="containerr" id="home"  ng-controller="HomeCtrl as hc" >
    <background-cycler class="bg-fade" id="ff">
      <div class="background-vignette"></div>
    </background-cycler>

    <ion-header-bar frosted-bar type="bar-frosted" id="header" class="bar bar-header bar-cdlear no-border">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title">
            <span class="city">
                <i id="city-nav-icon" class="icon ion-navigate"></i>
                {{currentLocationString}}<br>
            </span>
            <current-time localtz="current.local_tz_short"></current-time>
        </h1>
        <button ng-click="refreshData()" class="button button-icon"><i class="settings-icon ion-ios-location-outline"></i></button>
    </ion-header-bar>


    <ion-content scroll-event-interval="20" scroll-effects scrollbar-y="false" class="no-header">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshData()" style="margin-top: -20px;">
          {{last_refresh}}
        </ion-refresher>
        <div id="main-content">
            <current-weather>
            </current-weather>
            <!-- <forecast></forecast> -->
        </div>
    </ion-content>

    <ion-tabs class="tabs-icon-top tabs-color-active-positive ms">

      <ion-tab title="TODAY" id="today" on-select="w_today()"></ion-tab>
      <ion-tab title="TOMORROW" id="tomorrow" on-select="w_tomorrow()"></ion-tab>
      <ion-tab title="NEXT DAY" id="next-day"  on-select="w_nextDay()"></ion-tab>

    </ion-tabs>

    <div id="ms">
      <div class="row text-center of1-main" id="of1" ng-click="showHomeMenu()">
        <div class="col">
          <div id="met-icon"></div>
          <span>met services</span>
        </div>
      </div>
    </div>
</ion-pane>
