<div id="home_menu-modal" class="modal partial" ng-controller="HomeCtrl as hc">
    <div class="row text-center" id="of1" ng-click="closeModal()">
        <div id="of1-blurf" class="rbg"></div>
        <div class="col">
            <div id="met-icon"></div>
            <span>TTMS</span>
        </div>
    </div>
    <ion-content has-header="false" scroll="true" id="ms_m">
    <div class="content metars">
        <div class="row " ng-repeat="item in hc.mdata">
            <div class="card">
                <div class="item item-divider">
                    {{item.label}}
                </div>
                <div class="item item-text-wrap">
                    <i class="{{item.icon}}"></i>
                    <span class="txt" id="{{item.el}}">{{item.value}}</span>
                </div>
            </div>
        </div>
    </div>
    </ion-content>
</div>
