<div id="home_menu-modal" class="modal partial" ng-controller="HomeCtrl as hc">
    <div class="row text-center of1 bago" id="" ng-click="closeModal()">
        <div id="of1-blurf" class="rbg"></div>
        <div class="col">
            <div class="met-icon"></div>
            <span>Current conditions for Tobago</span>
        </div>
    </div>
    <ion-content has-header="false" scroll="true" class="ms_m" ng-controller="BagoCtrl as bc">
        <div class="row " ng-repeat="item in bc.mdatab">
            <div class="card wide" ng-if="item.show">
                <div class="item item-divider" ion-affix data-affix-within-parent-with-class="card">
                    {{item.label}}
                </div>
                <div class="item item-text-wrap">
                    <i class="{{item.icon}}"></i>
                    <span class="txt" id="{{item.el}}">{{item.value}}</span>
                </div>
            </div>
        </div>
    </ion-content>
</div>
