body, html {
	// background: #000;
}
// color variables
@lblue: rgba(63, 148, 227, 0.6); //#3F94E3;
@dblue: #1B6EBB;
@purple: #9046F7;
@green: rgba(59, 159, 72, 1);
//text supporting classes - Bootstrap style
.pull-right { float: right; }
.pull-left { float: left; }
.no-pull { 	float: none; }
.text-uppercase { text-transform: uppercase; }
.text-center { text-align: center; }

.container {
	padding: 20px;
}
.bar {
	// &.bar-header.disable-user-behavior {
	// 	background: transparent;
	// }
}

body {
  // text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  // background-color: black;
}
#wrapper {
  // background-color: black;
}
#scroller {
}
.bg-image {
  position: fixed;
  width: 110%;
  height: 105%;
  margin-left: -15px;
  margin-top: -10px;
  background-size: cover;
}

.bg-fade {
	-webkit-transition: background 1.5s linear;
	-moz-transition: background 1.5s linear;
	-o-transition: background 1.5s linear;
	-ms-transition: background 1.5s linear;
	transition: background 1.5s linear;
	// & {
		&.ng-enter {
			opacity: 0;
            -webkit-transition: opacity 2s ease-in-out;
		}
		&.ng-enter-active {
			opacity: 1;
		}
		&.ng-leave {
			opacity: 1;
            -webkit-transition: opacity 2s ease-in-out;
		}
		&.ng-leave-active {
			opacity: 0;
		}
	// }
}

// .bg-fade > .ng-enter {
//   opacity: 0;
//   -webkit-transition: opacity 2s ease-in-out;
// }
// .bg-fade > .ng-enter-active {
//   opacity: 1;
// }
// .bg-fade > .ng-leave {
//   opacity: 1;
//   -webkit-transition: opacity 2s ease-in-out;
// }
// .bg-fade > .ng-leave-active {
//   opacity: 0;
// }

h1,h2,h3,h4,h5 {
  // color: #fff;
  font-weight: 300;
}

.tab-content {
	// background: transparent;
}
#main-content {
	// background: transparent;
	color: #fff;
	padding: 10px;
}

.ion-ios-sunny-outline {
  color: yellow;
}

.ionic-refresher-content {

  // text-shadow: none;
}

/**
 * Header
 */
//  .platform-ios.platform-ready:not(.fullscreen) {
//  	#home {
//  		margin-top: 20px;
//  	}

//  	#of1.of1-main {
//  		margin-bottom: 20px;
//  	}
//  	.ms .tabs {
//  		margin-bottom: 74px!important;
//  	}
//     // margin-top: 20px;
// }
#header {
	// margin-top: 10px;
	button {
		color: #fff;
	}
  	background-color: transparent !important;
  	height: 44px;
  	& > * {
  		margin-top: 0px;
  	}
  	.title {
  		color: #fff;
  		font-size: 12px;
	  	// line-height: 20px;
	  	margin-top: -2px;
	  	.city {

	  		font-size: 16px;
  			// font-weight: 100;
	  	}
  	}
}


#city-nav-icon {
  font-size: 11px;
  margin-right: 2px;
}

.scroll-refresher {
  overflow: visible;
}
.ionic-refresher-content {
  background-color: rgba(0,0,0,0.4);
  color: rgb(255,255,255) !important;
  min-height: 300px;
  padding-bottom: 10px;
  // height: auto;
  bottom: 0;
}
.ionic-refresher-content {
  padding-top: 320px;
  margin-bottom: -30px;
}

// home
#home {
	// background-color: #000;
	.scroll {
		height: 100%;
	}
}

/**
 * Current weather
 */

#current-weather {
	height: 180px;
	width: 241px;
	display: block;
	margin: 0 auto;
	padding-left: 10%; padding-right: 10%;
	box-sizing: content-box;
	// text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  #cw-summary, #cw-range, .current-temp {
  	margin-bottom: 0px;
  	margin-top: 0px;
  }
  #cw-summary {
	margin-top: 40px;
	margin-left: -20px;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
  	// margin-bottom: -10px;
  }
  	.icon {
  		font-size: 6em;
		display: block;
		.text-center;
		margin-top: -10px;
		margin-left: -23px;
		// margin-bottom: -19px;
	}
}
#current-weather > * {
  color: #fff;
}
#current-weather .current-temp {
	// margin-top: -24px;
	font-size: 70px;
	font-weight: 400;
	color: #fff;
	margin: 0;
	padding: 0;
	line-height: 80px;
	text-shadow: none!important;
}


#current-icon {
  font-size: 42px;
  vertical-align: middle;
  margin-right: 5px;
}

#temp-hi, #temp-lo { display: inline-block; }
#temp-lo {
  margin-left: 10px;
}

#uv-index {
	max-width: 80px;
	margin-left: -9px;
	// max-width: 28%;
	> div {

		padding: 13px 10px 0px 5px;
    	background: @green;
    	border-radius: 13px;
    	border-bottom-right-radius: 0px;
    	span:nth-of-type(odd) {
    		// font-size: 10px;
    		.block-support-text;
    	}
    	span:nth-of-type(1) {
    		position: absolute;
    		margin-top: -8px;
    	}
	}
	#uv-value {
		font-size: 1.9em;
		margin-bottom: 0px;
		.pull-right;
	}
}
.block-support-text {
	font-size: 10px;
}
#today-block {
	font-size: 1.3em;
	margin-left: -5px;
	margin-top: -3px;
	.text-uppercase;
	p {
		letter-spacing: 2px;
		margin-bottom: 2px;
		margin-top: 10px;
	}
	span {
		font-size: 1.07em!important;
		font-weight: 100;
	}
}
#present-cond {
	> div {
		min-height: 50px;
		// width: 74.7%;
		width: 160px;
		padding-left: 5px;
		background: @lblue;
		border-radius: 50px;
		border-top-left-radius: 0px;
		margin-top: -10px;
		float: right;
		> div {
			margin-top: -10px;
			padding: 0px 10px 13px 20px;
			.block-support-text {
				font-size: 35px;
				font-weight: 100;
				position: absolute;
				margin-left: -27px;
				margin-top: 20px;
				span {
					margin-left: -6px;
					font-size: 14px;
					font-weight: 500;
				}
			}
			// .icon {
			// 	display: block;
			// 	.text-center;
			// 	margin-top: -24px;
			// 	margin-left: -40px;
			// 	margin-bottom: -19px;
			// }
		}
	}

	h1 span {
		// font-size: 2em;
	}
}

.d3 {
	margin-top: 7px;
	position: fixed;
    width: 100%;
    bottom: 55px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.45);
	border-radius: 2px;
	.row {
		padding: 0px 10px;
	}
	// margin-top: 20px;
	p.lead {
		font-weight: 200;
	}
	.forecast-block-title {
		// font-weight: 100;
		// .text-left
		color: #fff;
		letter-spacing: 1.5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #fff;
	}
	.fc-low, .fc-high {
		i {
			margin-right: 5px;
		}
	}
}

/**
 * Forecast and details
 */
.weather-box {
  background-color: rgba(0,0,0,0.2);
  padding: 9px;
  margin: 10px 0px;
  color: rgba(255,255,255,0.9);
}

.weather-box .title {
  color: rgba(255,255,255,0.9);
  font-weight: normal;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}

.settings-icon {
	font-size: 24px;
}

.weather-box .row {
  border-bottom: 1px dotted rgba(255,255,255,0.3);
  margin: 0;
  padding: 0;
}
.weather-box .col {
  text-align: center;
}
.weather-box .col:first-child {
  text-align: left;
}
.weather-box .col:last-child {
  text-align: right;
}

.weather-box span {
  vertical-align: middle;
}

.weather-box .icon {
  font-size: 42px;
  line-height: 24px;
  vertical-align: middle;
}

.temp-high {
  display: inline-block;
  width: 30px;
  text-align: right;
}
.temp-low {
  display: inline-block;
  width: 30px;
  text-align: right;
  color: #4a87ee;
}


.no-header {
  top: 0 !important;
}

#forecast-scroll {
  margin: 10px 0px;
}
#hourly-forecast {
  width: 2250px;
  height: 80px;
}
.hourly-hour {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}

#forecast .credit {
  float: right;
  margin-top: 4px;
  margin-right: 4px;
}
#forecast .credit a {
  color: #fff;
}

/**
 * Settings modal
 */

#settings-modal {
  background-color: rgba(0,0,0,0.8);
}

#settings-modal .item {
  background-color: rgba(0,0,0,0.9);
  border: none;
  color: #fff;
}
#settings-modal .input-label {
  color: #fff;
}

.modal-backdrop, .modal-backdrop-bg {
    z-index: 23;
}
// home menu modal
#home_menu-modal {
	background: transparent;
	text-transform: uppercase;
	#of1 {
		color:#fff;
		// background: rgba(108,206,236,.8);
	}
	.scroll {
		height: 100%;
	}
	.content {
		height: 100%;
		background: #fff;
		width: 100%;

		.row {
			// padding: 19% 0px;
   //  		height: 20%;
   //  		&:nth-of-type(1) > div { margin-top: -62px; }
   //  		&:nth-of-type(2) > div { margin-top: -98px; }
   //  		&:nth-of-type(3) > div { margin-top: -138px; }
		}
		.card {
			width: 100%;
		}
	}
	.mia {
		text-align: center;
    	width: 50%;
    	height: 30%;
    	 padding-top: 30px;
    	height:80px!important;
    	&:nth-of-type(1) {
    		background-color: #3F94E3;
    	}
    	&:nth-of-type(2) {
    		background-color: #1B6EBB;
    	}
    	&:nth-of-type(3) {
    		background-color: #9046F7;
    	}
    	&:nth-of-type(4) {
    		background-color: #3B9F48;
    	}
    	&:nth-of-type(5) {

    	}
    	&:nth-of-type(6) {

    	}
	}
	#ms_m {
		background: #fff;
    	margin-top: 54px;
    	margin-bottom: 40%;
    	.item {
    		.icon {
    			font-size: 3em;
    		}
    		.txt {
    			float: right;
				margin-top: 22px;
    			&#temp {
    				font-size: 2em;
    			}
    			&#dew {
    				font-size: 1em;
    			}
				&#pressure {
					font-size: .9em;
				}
				&#winds {
					font-size: .9em;
    				width: 75%;
    				margin-top: 6px;
				}
				&#clouds {
					font-size: .8em;
					margin-top: 11px;
					width: 80%;
				}
				&#weather {
					font-size: .9em;
				    width: 68%;
				    margin-top: 9px;
				}
    		}
    	}
	}
}



// .slider {
//  	overflow: visible;
//  	display: table; /* makes the slider have a height */
// }

// ion-slide {
//  	padding-right: 20px;
//  	padding-left: 0px;
//  	&:first-child {
//  		padding-left: 0;
//  	}
//  	&:last-child {
//  		padding-right: 0;
//  	}
//  	&:nth-child(1) {
// 	 	z-index: 4; /* posible fix for last slide positioning on top of next slide */
// 	}
// 	&:nth-child(2) {
// 	 	z-index: 3; /* posible fix for last slide positioning on top of next slide */
// 	}
// 	&:nth-child(3) {
// 	 	z-index: 2; /* posible fix for last slide positioning on top of next slide */
// 	}
// 	&:nth-child(4) {
// 	 	z-index: 1; /* posible fix for last slide positioning on top of next slide */
// 	}
// }

// .icon {
// 	&-cloud{
// 		&-night {
// 			font-weight: 100;
// 			font-size: 80px;
// 		}
// 	}

// }

// .fixed {
// 	&-bottom {
// 		position: fixed;
// 		bottom: 0;
// 	}
// }

// // make menu open and close smoother
.menu-animated {
	-webkit-transition: all 0.4s cubic-bezier(0.1, 0.7, 0.1, 1);
  	transition: all 0.4s cubic-bezier(0.1, 0.7, 0.1, 1);
  	.view-container {
  		.scroll-content {
  			// padding: 10px 20px;
  		}
  	}
}

.menu {
	&.menu-left {
		.scroll {
			height: 100%;
			text-align: center;
			.list {
				height: 100%;
				.item-complex {
					border-color: transparent;
					.item-content {
						// padding: 12% 10% 12% 15%;
						// padding: 11.5% 11% 11% 11%;
						padding: 12.5% 11% 8% 8%;
					}
					// padding: 6%;
				}
			}
		}
	}
}

.platform-ios.platform-ready:not(.fullscreen) {
	.ms .tabs {
		padding-top: 0px;
	}
}

.ms {
	.tabs {
		margin-bottom: 55px;
		// margin-bottom: 1px;
		background: transparent;
		// padding-top: 0px
		.tab-item {
			// a {
			color: #fff!important;
			font-size: 1em;
    		letter-spacing: 2px;
    		padding: 17px 0px;
			// }
			&:nth-of-type(1) {
				background: @lblue;
			}
			&:nth-of-type(2) {
				background: @purple;
			}
			&:nth-of-type(3) {
				background: @green;
			}
		}
	}
}

.bar {
	&.no-border {
		border-bottom: 1px solid transparent!important;
		background-image: none;
	}
	&.has-border {
		border-bottom: 1px solid #ddd;
	}
	// background-image: none !important;

	&.bar-stable {
		// border-color: transparent;
	}
	&.bar-subheader {
		border-bottom: 1px solid #ddd;
		height: 30px;
		margin-top: -10px;
		margin-bottom: 20px;
		.title {
			z-index: 1;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	}
	.title {
		&.no-left {
			left: 0px!important;
			font-size: 14px!important;
			font-weight: 400;
		}
	}
}

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #fff;
  fill: #fff;
}

.box {
	margin-top: 19px;
	background: #fff;

	.item {
		h2 {
			font-size: 14px
		}
		p {
			font-size: 12px
		}
	}
	// background-color: blue;
	min-width: 200px;
	width: 100%;
	min-height: 400px;
}
.slider-pager {
	display: none;
}

.list {
	.item {
		.title {
			color: #000;
		}
		.follow {
			font-size: 12px;
    		color: rgba(0,0,0,0.54);
		}
	}
}


.background-vignette {
	height: 100%;
	background-image: 8121991;
    background-image: -webkit-radial-gradient(50% 100%, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.56) 100%);
    background-image: -moz-radial-gradient(50% 100%, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.56) 100%);
    background-image: -o-radial-gradient(50% 100%, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.56) 100%);
    background-image: radial-gradient(50% 100%, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.56) 100%);
}

//Scale-In Animation
.scale-in {
  transform: scale(0.9);
  opacity: 0;
}
.scale-in.ng-enter,
.scale-in > .ng-enter {
  transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
}

.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {
  transform: scale(1);
  opacity: 1;
}

.scale-in.ng-leave,
.scale-in > .ng-leave {
  transition: all ease-in-out 250ms;
}


/*!
 * Copyright 2013 Drifty Co.
 * http://drifty.com/

 * Ionic - a powerful HTML5 mobile app framework.
 * http://ionicframework.com/
 *
 *
 * By @maxlynch, @helloimben, @adamdbradley <3
 *
 * Licensed under the MIT license. Please see LICENSE for more information.
 *
 */.content-slide-out.ng-enter,.content-slide-out>.ng-enter{z-index:1;-webkit-transition:.5s ease-in-out all;-webkit-transform:translate3d(-100%,0,0);box-shadow:-1px 0 10px rgba(0,0,0,.6)}.content-slide-out.ng-enter-active,.content-slide-out>.ng-enter-active{-webkit-transform:translate3d(0,0,0)}.content-slide-out.ng-leave,.content-slide-out>.ng-leave{z-index:0;-webkit-transition:.5s ease-in-out all;-webkit-transform:translate3d(0%,0,0)}.content-slide-out.ng-leave-active,.content-slide-out>.ng-leave-active{-webkit-transform:translate3d(10%,0,0);opacity:.8}.bar-title-in-add{-webkit-transition:-webkit-transform .5s ease-in-out,opacity .5s ease-in-out;-webkit-transform:translate3d(100%,0,0);opacity:0}.bar-title-in-add-active{-webkit-transform:translate3d(0px,0,0);opacity:1}.bar-title-out-add{-webkit-transition:-webkit-transform .5s ease-in-out,opacity .5s ease-in-out}.bar-title-out-add-active{-webkit-transform:translate3d(-100%,0,0);opacity:0}.bar-button-in{opacity:0}.bar-button-in-add{-webkit-transition:-webkit-transform .5s ease-in-out,opacity .5s ease-in-out;-webkit-transform:translate3d(50%,0,0);opacity:0}.bar-button-in-active{-webkit-transform:translate3d(0px,0,0);opacity:1}.fade-in-out.ng-enter,.fade-in-out>.ng-enter{opacity:0;-webkit-transition:opacity .3s ease-in-out}.fade-in-out.ng-enter-active,.fade-in-out>.ng-enter-active{opacity:1}.fade-in-out.ng-leave,.fade-in-out>.ng-leave{opacity:1;-webkit-transition:opacity .3s ease-in-out}.fade-in-out.ng-leave-active,.fade-in-out>.ng-leave-active{opacity:0}.toggle{display:inline-block}.toggle input{display:none}.toggle .track{position:relative;display:inline-block;box-sizing:border-box;width:54px;height:32px;border:solid 2px #ddd;border-radius:20px;background-color:#fff;cursor:pointer;transition:.4s ease}.toggle .handle{position:absolute;display:block;width:auto;height:auto;box-shadow:0 0 2px rgba(0,0,0,.5),0 4px 5px rgba(0,0,0,.25);border-radius:20px;background-color:#fff;left:0;top:0;bottom:0;right:20px;transition:.2s ease;transition-property:left,right;transition-delay:0s,.05s}.toggle :checked+.track{border-color:#4bd863;background-color:#ccc;box-shadow:inset 0 0 0 20px #4bd863;transition:.2s ease}.toggle :checked+.track .handle{background-color:#fff;right:0;left:20px;-webkit-transform:none;transition-delay:.05s,0s}


#ms {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #fff;
    text-transform: uppercase;
    #of3 {
    	padding: 0px;
    	margin-bottom: 7px;
    	div {
    		padding: 10px;
    		text-align: center;
    		font-size: 10px;
    		letter-spacing: 2px;

    	}
    	#today { background: rgba(52, 152, 219, 0.6); }
    	#tomorrow { background: rgba(155, 89, 182, 0.6); }
    	#next_day { background: rgba(39, 174, 96, 0.6); }
    }

}

 #of1 {
	padding: 0px;
	background: rgba(0, 64, 128,0.60);//;rgba(108, 206, 236, 0.6);
	letter-spacing: 2px;
	#met-icon {
		height: 20px;
		margin-bottom: 4px;
		background: url('../img/met_servicesicon.png')no-repeat center center;
	}
}

// pffset the modal
.modal.partial {
	margin-top: 40%
}




